body{
    font-family: "Lato", sans-serif;
    font-style: normal;
  }
  
  .icon-img {
    width: 20px;        
    height: auto;      
    max-width: 100%;  
    vertical-align: middle;
    margin-right: 5px;  
  }
  
  .custombtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #4CAF50;
    border-radius: 12px;
    width: 10%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  

  
  .custombtn.active {
    background-color: #0E7A81;
    color: white;
  }